<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>FontConverter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/uikit.almost-flat.min.css" />
        <link rel="stylesheet" href="assets/css/uikit.addons.min.css" />
        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>
    <body>
        <div class="uk-width-medium-1-2 uk-article uk-container-center">
            <form class="uk-form uk-form-stacked" action="#" method="post" id="ttf-form" enctype="multipart/form-data">
                <div class="inner-form">
                    <h1 class="uk-article-title">Webfont generator</h1>
                    {% if error %}
                    <p class="uk-alert uk-alert-danger">{{ error }}</p>
                    {% endif %}
                    <div class="uk-form-row uk-form-file">
                        <button class="uk-button">Select a TTF font</button>
                        <input id="file" type="file" name="file" value="" />
                    </div>
                </div>

                <button class="uk-button uk-button-primary"><i class="uk-icon-gear"></i> Convert</button>
            </form>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="assets/js/uikit.min.js"></script>
    </body>
</html>