<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Webfont generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/uikit.min.css" />
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        <div class="uk-width-medium-1-2 uk-article uk-container-center">
            <form class="uk-form uk-form-stacked" action="#" method="post" id="ttf-form" enctype="multipart/form-data">
                <div class="inner-form">
                    <h1 class="uk-article-title">Webfont generator</h1>
                    {% if error %}
                    <p class="uk-alert uk-alert-danger">{{ error }}</p>
                    {% endif %}
                    <div class="uk-margin" uk-margin>
                        <div uk-form-custom="target: true">
                            <input type="file" name="file">
                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select an OTF/TTF file" disabled>
                        </div>
                        <button class="uk-button uk-button-primary"><span uk-icon="cog"></span> Convert</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="disclaimer">Source available at <a href="https://github.com/ambroisemaupate/webfont-generator">github.com/ambroisemaupate/webfont-generator</a></p>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/js/uikit.min.js"></script>
        <script src="/assets/js/uikit-icons.min.js"></script>
    </body>
</html>