/*
 *
 * FontConverter GUI
 * Ambroise Maupate
 */

body {
    background-color: #EFEFEF;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 50px 0;
}
.uk-container-center {
    max-width: 750px;
    box-sizing: border-box;
    margin: 0px auto;
    /* text-align: center; */
    border: 1px solid #CCCCCC;
    background-color: white;
    overflow: hidden;
}
.disclaimer {
    max-width: 500px;
    box-sizing: border-box;
    margin: 10px auto;
    font-size: 10px;
    color: #CCCCCC;
}
.disclaimer a {
    color: #CCCCCC;
}
.inner-form {
    padding: 20px 20px 0px;
}
.main-title {
    max-width: 750px;
    margin: 0px auto;
    color: #999999;
    font-family: "Patua One",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 50px;
    letter-spacing: 0.01em;
    text-align: center;
    line-height: 1em;
    padding: 20px 0px;
}
